<!DOCTYPE html>
<html>

<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Список пользователей</h1>
    <p><a href="/create">Добавить пользователя</a></p>
    <table>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th></th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>
                <a href="/edit/{{this.id}}">Edit</a>|
                <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
<html>